@font-face {
    font-family: AndaleMono;
    src: url(AndaleMono.ttf);
}
@font-face {
    font-family: DroidSansMono;
    src: url(DroidSansMono.ttf);
}

#notebook-container {
}

.cell {
}

#cell {
    font-family: monospace;
}

#editor { 
    /* position: absolute; */
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* width: 300px; */
    /* height: 300px; */
}